[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyrebase = "*"
gunicorn = "*"
google-cloud-firestore = "*"
firebase-admin = "*"
Flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
